# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/

# IDE
.idea/
.vscode/

# Models and results
models/
results/

# Old scripts (ignore all the junk)
26*.py
27*.py
check*.py
extra*.py
analysis_*.txt
compas_Check_shacl.py
actionable_method1_only.py
Checking_the_shacl_rules.py
debug_*.csv
*.log